.Building {
  display: flex;
  flex-direction: column;
  font-size: large;
  padding: 10px;
  width: 15%;
}

.Heading {
  font-size: larger;
  font-weight: bold;
}

.Production {
  list-style: none;
  padding-left: 0;
}

.ProductionNeed0 {
  font-style: italic;
}

.ProductionNeed1 {
}

.ProductionNeed2 {
  font-weight: bold;
}